@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Stringly</h1>
    <p class="lead">Stringly is your end all solution for management of guitars! And anything else you can add that I haven't made the authentication correctly!</p>
    <p><a href="http://kairoscope.co" class="btn btn-danger btn-lg">Wicket &raquo;</a></p>
    <p><a href="@Url.Action("Index", "Guitars")" class="btn btn-success btn-lg"> Get Started with Stringly!&raquo;</a></p>
</div>